/* Inizio regole generali */
.color_ps {
    color: #0070d1;
}

a.btn, button.btn {
    border-radius: 20px;
}

section {
    padding: 30px 0;
}

.items_displayed img, button {
    border-radius: 15px;
}

.card_img_videogame {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

/* Fine regole generali */

/* Inizio regole header */
header .bg-dark {
    height: 40px;
}

header .row img {
    width: 100px;
    height: auto;
}
/* Fine regole header */
/* Inizio regole Jumbotron */
#jumbotron {
    padding-top: 96px;
}

#jumbotron div.carousel-item {
    max-height: 600px;
}

#jumbotron div.carousel-item img {
    min-height: 500px;
    object-fit: cover;
}

#jumbotron .position-absolute {
    top: 20%;
    left: 15%;
}

/* Fine regole Jumbotron */

/* Inizio regole Main */
.items_displayed img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

section.bg-dark img {
    margin-bottom: 5px;
}

.card_img_videogame.second_card {
    background-image: none;
    background-color: lightgray;
}

.card_img_videogame.third_card {
    background-image: none;
    background-color: darkblue;
}
/* Fine regole Main */
/* Inizio regole Footer */
footer {
    background-color: blue;
}
#globe {
    width: 20px;
    height: auto;
    margin-right: 10px;
}
/* Fine regole Footer */

@media screen and (min-width: 820px) {

    .container.social_media {
        max-width: 700px;
    }

}