/* Inizio regole generali */
.color_ps {
    color: #0070d1;
    font-size: 1.6rem;
    margin-left: 10px;
}

a.btn, button.btn {
    border-radius: 20px;
}

section {
    padding: 30px 0;
}

.items_displayed img, button {
    border-radius: 15px;
}

.card_img_videogame {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

button {
    outline: 1px solid white;
    outline-offset: 2px;    
}

button.btn-dark:hover {
    outline: 1px solid black;
}

button.btn-primary:hover, a.btn-outline-primary:hover {
    outline: 1px solid blue;
}

a.btn-light, a.btn-outline-primary, a.btn-danger {
    outline: 1px solid transparent;
    outline-offset: 2px;
}

a.btn-light:hover {
    outline: 1px solid white;
}

a.btn-danger:hover {
    outline: 1px solid rgb(167, 0, 0);
}
/* Fine regole generali */

/* Inizio regole header */
header .bg-dark {
    height: 40px;
}

header .row img {
    width: 100px;
    height: auto;
}
/* Fine regole header */
/* Inizio regole Jumbotron */
#jumbotron {
    padding-top: 96px;
}

#jumbotron div.carousel-item {
    max-height: 600px;
}

#jumbotron div.carousel-item img {
    min-height: 500px;
    object-fit: cover;
}

#jumbotron .position-absolute {
    top: 20%;
    left: 15%;
}

/* Fine regole Jumbotron */

/* Inizio regole Main */
.go_up {
    transition: transform .3s ease-out;
}

.go_up:hover {
    transform: translate(0, -15px);
    cursor: pointer;
}

#play_shadow {
    box-shadow: 0px -3px 0px 0px rgb(54, 54, 223) inset;
}

.underline_hover:hover {
    box-shadow: 0px -3px 0px 0px rgb(54, 54, 223) inset;
    cursor: pointer;
}

.items_displayed img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

section.bg-dark img {
    margin-bottom: 5px;
}

.card_img_videogame.second_card {
    background-image: none;
    background-color: lightgray;
}

.card_img_videogame.third_card {
    background-image: none;
    background-color: darkblue;
}

/* Fine regole Main */
/* Inizio regole Footer */
footer {
    background-color: blue;
}
#globe {
    width: 20px;
    height: auto;
    margin-right: 10px;
}
/* Fine regole Footer */

@media screen and (min-width: 820px) {

    .container.social_media {
        max-width: 700px;
    }

}